[submodule "libEmbedded"]
	path = squantorLibEmbedded
	url = git@github.com:Squantor/squantorlibEmbedded.git
[submodule "squantorMinUnit"]
	path = squantorMinUnit
	url = git@github.com:Squantor/squantorMinUnit.git
