[submodule "libEmbedded"]
	path = libEmbedded
	url = https://github.com/Squantor/libEmbedded.git
[submodule "squantorMinUnit"]
	path = squantorMinUnit
	url = https://github.com/Squantor/squantorMinUnit.git
